.Dictionary section {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin: 20px 0;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.Dictionary .wordSearch {
  text-align: left;
  font-size: 24px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 14px;
  color: #887575;
}
